<div class="flex flex-row justify-items-center items-center mt-80 mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Inputbox Type</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        인풋박스 내 텍스트에 사용됩니다.
    </div>
</div>

<div class="flex flex-col mt-6">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-olive-100 border-b border-t border-t-olive-200 border-b-olive-200">
                    <tr>
                        <th scope="col" class="px-4 text-md font-bold text-left w-100">
                            Type
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Color
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Size
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Style
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Line Height
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Letter Spacing
                        </th>
                        <th scope="col" class="text-md font-bold text-left min-w-90">
                            Usage
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="px-4 py-1 whitespace-nowrap">
                            <div class="flex flex-row">
                                <div class="text-gray-500 text-lg font-normal leading-24 tracking-tight">Placeholder</div>
                                <div class="text-gray-700 text-lg font-normal leading-24 tracking-tight ml-4">Active</div>
                                <div class="text-gray-400 text-lg font-normal leading-24 tracking-tight ml-4">Disabled</div>
                            </div>
                        </td>
                        <td class="py-2">
                            <div class="flex flex-col items-center justify-center text-center">
                                <div class="bg-gray-500 border border-gray-500 px-4 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#888888</div>
                                <div class="bg-gray-700 border border-gray-700 px-4 mt-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#222222</div>
                                <div class="bg-gray-400 border border-gray-400 px-4 mt-1 w-[60px] h-[21px] flex items-center justify-center text-gray-700 text-sm font-light">#BBBBBB</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">16</div>
                        </td>
                        <td>
                            <div class="text-center">Regular</div>
                        </td>
                        <td>
                            <div class="text-center">24</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>인풋박스 상태별 스타일</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
