<div class="text-4xl font-extrabold tracking-tight pb-16 mb-32 border-b">
    Spacing
</div>

<div class="flex flex-row justify-items-center items-center mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Section</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        타이틀 영역과 컨텐츠 영역 사이 간격을 일정하게 적용하며, 일반적인 레이아웃 구조가 아닌 경우에는 유연하게 적용합니다.
    </div>
</div>

<div class="flex flex-auto overflow-x-auto">
    <div class="bg-white border p-32 rounded rounded-md">
        <img class="min-w-[896px]" width="100%" src="assets/images/style/spacing/img-spacing-sec-1.svg" />
        <img class="min-w-[896px] mt-40" width="100%" src="assets/images/style/spacing/img-spacing-sec-2.svg" />
    </div>
</div>

<div class="flex flex-row justify-items-center items-center mt-80 mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Box</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        사용 성격에 따라 조금씩 다른 padding을 적용합니다.
    </div>
</div>

<div class="flex flex-auto overflow-x-auto">
    <div class="bg-white border p-32 rounded rounded-md">
        <div class="text-gray-600 mb-16">기본</div>
        <img class="min-w-[896px]" width="100%" src="assets/images/style/spacing/img-spacing-box-1.svg" />

        <div class="text-lg text-gray-600 mt-40">오픈/클로즈, 프로젝트 목록, 안내사항 등 텍스트로 이루어진 정보가 많은 경우</div>
        <div class="text-sm text-gray-500 mt-[5px] mb-16">단, 1행으로만 이루어진 경우, Box는 고정 높이 최소 64px을 유지하며, 그 안에서 middle 정렬을 적용합니다.</div>
        <img class="min-w-[896px]" width="100%" src="assets/images/style/spacing/img-spacing-box-2.svg" />
    </div>

</div>


<div class="flex flex-row justify-items-center items-center mt-80 mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Layer Popup</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        팝업 내 헤더의 유무에 따라 다른 여백을 적용합니다.
    </div>
</div>

<div class="flex flex-auto overflow-x-auto">
    <div class="bg-white border p-32 rounded rounded-md">
        <div class="text-gray-600 mb-16">헤더가 없는 경우</div>
        <img class="min-w-[320px]" width="320px" src="assets/images/style/spacing/img-spacing-popup-1.svg" />

        <div class="text-gray-600 mb-16 mt-[57px]">헤더가 있는 경우</div>
        <img class="min-w-[896px]" width="100%" src="assets/images/style/spacing/img-spacing-popup-2.svg" />
    </div>
</div>


<div class="flex flex-row justify-items-center items-center mt-80 mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Component</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        여러 component들을 조합하여 적용할 경우에 사용합니다.
    </div>
</div>

<div class="flex flex-auto overflow-x-auto">
    <div class="bg-white border p-32 rounded rounded-md">
        <div class="text-gray-600 mb-16">기본적으로 8의 배수로 적용</div>
        <img width="752px" src="assets/images/style/spacing/img-spacing-component-1.svg" />

        <div class="text-gray-600 mb-16 mt-40">영역 내에서 그룹핑이 필요한 경우 4배수로 분할하여 적용도 가능</div>
        <img width="272px" src="assets/images/style/spacing/img-spacing-component-2.svg" />

        <img class="mt-40" width="896px" src="assets/images/style/spacing/img-spacing-component-3.png" />

        <div class="text-lg text-gray-600 mt-40">고정 영역 내 나열하는 경우 : 상하좌우 여백을 제외한 나머지 영역에서 균등하게 분할하여 배치</div>
        <div class="text-sm text-gray-500 mt-[5px] mb-16">다만, 일부 케이스에서는 8배수 단위로 사이간격을 적용하여 배치가 가능(Ex. New Project > 선택, 추가된 Project 리스트 영역)</div>
        <img width="790px" src="assets/images/style/spacing/img-spacing-component-4.svg" />
    </div>
</div>

<div class="text-sm text-gray-600 mt-2">
    ※ 좀 더 세분화 된 간격값은 각 구성요소에서 더 확인 가능합니다.
</div>
