<div class="flex flex-row justify-items-center items-center mt-80 mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">GNB / Footer</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        GNB 및 Footer 에 사용됩니다.
    </div>
</div>

<div class="flex flex-col mt-6">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-olive-100 border-b border-t border-t-olive-200 border-b-olive-200">
                    <tr>
                        <th scope="col" class="px-4 text-md font-bold text-left w-100">
                            Type
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Color
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Size
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Style
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Line Height
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Letter Spacing
                        </th>
                        <th scope="col" class="text-md font-bold text-left min-w-90">
                            Usage
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="px-4 py-1 whitespace-nowrap">
                            <div class="bg-gnb-bg w-[142px] h-[44px] px-1">
                                <div class="text-white text-md font-thin leading-22 hover:underline cursor-pointer">Menu</div>
                                <div class="text-white text-md font-thin leading-22 underline">Menu Hover / Press</div>
                            </div>
                        </td>
                        <td>
                            <div class="flex flex-col items-center justify-center text-center">
                                <div class="bg-white border border-gray-100 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-sm text-gray-700 font-light">#FFFFFF</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">14</div>
                        </td>
                        <td>
                            <div class="text-center">Regular</div>
                        </td>
                        <td>
                            <div class="text-center">22</div>
                        </td>
                        <td>
                            <div class="text-center">0</div>
                        </td>
                        <td>
                            <div>GNB 메뉴 기본, 로그인한 사용자 이름에 사용</div>
                        </td>
                    </tr>

                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-gnb-link text-md font-bold leading-22 tracking-tight hover:underline cursor-pointer">Menu Select</div>
                            <div class="text-gnb-link text-md font-bold leading-22 tracking-tight underline">Menu Select Hover / Press</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gnb-link border border-gnb-link px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-gray-700 text-sm font-light">#FAE000</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">14</div>
                        </td>
                        <td>
                            <div class="text-center">Bold</div>
                        </td>
                        <td>
                            <div class="text-center">22</div>
                        </td>
                        <td>
                            <div class="text-center">0</div>
                        </td>
                        <td>
                            <div>현재 선택되어 있는 메뉴</div>
                        </td>
                    </tr>

                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-gray-500 text-sm font-normal leading-20 tracking-tight hover:underline cursor-pointer">Copyright</div>
                            <div class="text-gray-500 text-sm font-normal leading-20 tracking-tight underline">Copyright Hover / Press</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-500 border border-gray-500 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#888888</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">12</div>
                        </td>
                        <td>
                            <div class="text-center">Regular</div>
                        </td>
                        <td>
                            <div class="text-center">20</div>
                        </td>
                        <td>
                            <div class="text-center">0</div>
                        </td>
                        <td>
                            <div>카피라이트</div>
                        </td>
                    </tr>

                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-gray-200 text-sm font-normal leading-20 tracking-tight hover:underline cursor-pointer">Link Select</div>
                            <div class="text-gray-200 text-sm font-normal leading-20 tracking-tight underline">Link Select Hover / Press</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-200 border border-gray-200 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-gray-700 text-sm font-light">#D6D6D6</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">12</div>
                        </td>
                        <td>
                            <div class="text-center">Regular</div>
                        </td>
                        <td>
                            <div class="text-center">20</div>
                        </td>
                        <td>
                            <div class="text-center">0</div>
                        </td>
                        <td>
                            <div>문의하기 링크</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
