<div class="flex flex-row justify-items-center items-center mt-80 mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Body Type</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        본문에 주로 쓰이거나, 설명이 필요한 경우에 사용됩니다.
    </div>
</div>

<div class="flex flex-col mt-6">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-olive-100 border-b border-t border-t-olive-200 border-b-olive-200">
                    <tr>
                        <th scope="col" class="px-4 text-md font-bold text-left w-100">
                            Type
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Color
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Size
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Style
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Line Height
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Letter Spacing
                        </th>
                        <th scope="col" class="text-md font-bold text-left min-w-90">
                            Usage
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="px-4 py-1 whitespace-nowrap">
                            <div class="text-gray-600 text-md font-normal leading-22 tracking-tight">섹션 설명 문구</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-600 border border-gray-600 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#555555</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">14</div>
                        </td>
                        <td>
                            <div class="text-center">Regular</div>
                        </td>
                        <td>
                            <div class="text-center">22</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>섹션 제목 우측에 설명이 필요한 경우</div>
                        </td>
                    </tr>

                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-gray-700 text-lg font-bold leading-24 tracking-tight">기본 문구 - 강조</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-700 border border-gray-700 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#222222</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">16</div>
                        </td>
                        <td>
                            <div class="text-center">Bold</div>
                        </td>
                        <td>
                            <div class="text-center">24</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>일반 문구 중에서도 강조가 필요한 경우</div>
                            <div>(ex. My Page > 안내박스 상단 문구)</div>
                        </td>
                    </tr>

                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-gray-700 text-lg font-normal leading-24 tracking-tight">기본 문구 - 일반16</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-700 border border-gray-700 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#222222</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">16</div>
                        </td>
                        <td>
                            <div class="text-center">Regular</div>
                        </td>
                        <td>
                            <div class="text-center">24</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>기본적인 본문 또는 페이지 전체에 대한</div>
                            <div>설명이 필요한 경우, 팝업 기본 문구</div>
                        </td>
                    </tr>

                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-gray-700 text-md font-normal leading-22 tracking-tight">기본 문구 - 일반14</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-700 border border-gray-700 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#222222</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">14</div>
                        </td>
                        <td>
                            <div class="text-center">Regular</div>
                        </td>
                        <td>
                            <div class="text-center">22</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>각 섹션 내에서 일반적으로 쓰이는 문구</div>
                            <div>상황에 따라 굵기, 컬러 변경하여 강조 가능</div>
                        </td>
                    </tr>

                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-gray-500 text-sm font-normal leading-20 tracking-tight">기본 문구 - 부가설명</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-500 border border-gray-500 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">##888888</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">12</div>
                        </td>
                        <td>
                            <div class="text-center">Retular</div>
                        </td>
                        <td>
                            <div class="text-center">20</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>일반 문구에 대한 부가 설명이 필요한 경우</div>
                            <div>(ex. My Page > 안내박스 내 부가 설명)</div>
                        </td>
                    </tr>

                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-gray-500 text-md font-normal leading-22 hover:underline cursor-pointer">
                                <span>Breadcrumb 1Depth ></span>
                                <span class="ml-1 font-bold">2Depth</span>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-500 border border-gray-500 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">##888888</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">14</div>
                        </td>
                        <td>
                            <div class="text-center">Regular</div>
                            <div class="text-center">Bold</div>
                        </td>
                        <td>
                            <div class="text-center">22</div>
                        </td>
                        <td>
                            <div class="text-center">0</div>
                        </td>
                        <td>
                            <div>Breadcrumb Navigation</div>
                            <div>Hover/Press 시 Underline 적용</div>
                        </td>
                    </tr>

                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-sm text-wrong-button font-normal leading-20 tracking-tight">오류 문구</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-wrong-button border border-wrong-button px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#FF3340</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">12</div>
                        </td>
                        <td>
                            <div class="text-center">Regular</div>
                        </td>
                        <td>
                            <div class="text-center">20</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>인풋박스 등의 하단에 노출되는 오류 메세지</div>
                            <div>이 외 오류 메세지 공통 사용</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
