<div class="text-4xl font-extrabold tracking-tight pb-16 mb-32 border-b">
    Icon & Image
</div>

<div class="flex border-gray-700">사용자를 돕는 메시지 효과에 중점을 두고 이해하기 쉽게 제작합니다. 올리브 플랫폼에서 사용중인 아이콘과 이미지를 제공합니다.</div>
<div class="flex flex-row justify-items-center items-center mt-40 mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Icon
    </div>
</div>

<div class="grid grid-cols-1 gap-4 border border-gray-400 rounded p-20 md:grid-cols-2 lg:grid-cols-3">

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Next')">
                <olv-icon olvIcon="Next"></olv-icon>
             </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Next</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100">
           <div class="p-2 cursor-pointer" (click)="copyCode('Plus')">
               <olv-icon olvIcon="Plus"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Plus</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Delete')">
                <olv-icon olvIcon="Delete"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Delete</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('ArrowRight')">
                <olv-icon olvIcon="ArrowRight"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">ArrowRight</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('ArrowBottom')">
                <olv-icon olvIcon="ArrowBottom"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">ArrowBottom</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Anchor')">
                <olv-icon olvIcon="Anchor"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Anchor</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Calendar')">
                <olv-icon olvIcon="Calendar"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Calendar</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('CalendarDisable')">
                <olv-icon olvIcon="CalendarDisable"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">CalendarDisable</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('File')">
                <olv-icon olvIcon="File"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">File</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('FileDisable')">
                <olv-icon olvIcon="FileDisable"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">FileDisable</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('Folder')">
                <olv-icon olvIcon="Folder"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Folder</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('FolderDisable')">
                <olv-icon olvIcon="FolderDisable"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">FolderDisable</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Sort')">
                <olv-icon olvIcon="Sort"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Sort</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('SortSelect')">
                <olv-icon olvIcon="SortSelect"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">SortSelect</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Filter')">
                <olv-icon olvIcon="Filter"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Filter</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('FilterSelect')">
                <olv-icon olvIcon="FilterSelect"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">FilterSelect</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('Search')">
                <olv-icon olvIcon="Search"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Search</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('FileSelect')">
                <olv-icon olvIcon="FileSelect"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">FileSelect</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Check')">
                <olv-icon olvIcon="Check"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Check</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Close')">
                <olv-icon olvIcon="Close"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Close</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('CheckCircle')">
                <olv-icon olvIcon="CheckCircle"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">CheckCircle</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('CheckCircleSelect')">
                <olv-icon olvIcon="CheckCircleSelect"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">CheckCircleSelect</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('CheckCircleSelected')">
                <olv-icon olvIcon="CheckCircleSelected"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">CheckCircleSelected</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('CheckCircleStrong')">
                <olv-icon olvIcon="CheckCircleStrong"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">CheckCircleStrong</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('Crown')">
                <olv-icon olvIcon="Crown"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Crown</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('CrownDisable')">
                <olv-icon olvIcon="CrownDisable"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">CrownDisable</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Branches')">
                <olv-icon olvIcon="Branches"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Branches</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('Lock')">
                <olv-icon olvIcon="Lock"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Lock</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Repository')">
                <olv-icon olvIcon="Repository"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Repository</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Copy')">
                <olv-icon olvIcon="Copy"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Copy</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('History')">
                <olv-icon olvIcon="History"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">History</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('HistorySelect')">
                <olv-icon olvIcon="HistorySelect"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">HistorySelect</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Reload')">
                <olv-icon olvIcon="Reload"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Reload</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Note')">
                <olv-icon olvIcon="Note"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Note</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('Success')">
                <olv-icon olvIcon="Success"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Success</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Error')">
                <olv-icon olvIcon="Error"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Error</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('QuestionCircle')">
                <olv-icon olvIcon="QuestionCircle"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">QuestionCircle</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('ArrowNextCircle')">
                <olv-icon olvIcon="ArrowNextCircle"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">ArrowNextCircle</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('Left')">
                <olv-icon olvIcon="Left"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Left</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Right')">
                <olv-icon olvIcon="Right"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Right</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Backword')">
                <olv-icon olvIcon="Backword"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Backword</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Forward')">
                <olv-icon olvIcon="Forward"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Forward</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('Project')">
                <olv-icon olvIcon="Project"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Project</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('ProjectSelect')">
                <olv-icon olvIcon="ProjectSelect"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">ProjectSelect</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('ProjectSelected')">
                <olv-icon olvIcon="ProjectSelected"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">ProjectSelected</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('List')">
                <olv-icon olvIcon="List"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">List</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('ListSelect')">
                <olv-icon olvIcon="ListSelect"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">ListSelect</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('ListSelected')">
                <olv-icon olvIcon="ListSelected"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">ListSelected</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('FileList')">
                <olv-icon olvIcon="FileList"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">FileList</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('AuditList')">
                <olv-icon olvIcon="AuditList"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">AuditList</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('MoreDisable')">
                <olv-icon olvIcon="MoreDisable"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">MoreDisable</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('More')">
                <olv-icon olvIcon="More"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">More</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Reload_b')">
                <olv-icon olvIcon="Reload_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Reload_b</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('ReloadSelect_b')">
                <olv-icon olvIcon="ReloadSelect_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">ReloadSelect_b</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Home_b')">
                <olv-icon olvIcon="Home_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Home_b</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('HomeSelect_b')">
                <olv-icon olvIcon="HomeSelect_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">B_HomeSelect</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('Project_b')">
                <olv-icon olvIcon="Project_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Project_b</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('ProjectSelect_b')">
                <olv-icon olvIcon="ProjectSelect_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">ProjectSelect_b</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Profile_b')">
                <olv-icon olvIcon="Profile_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Profile_b</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('ProfileSelect_b')">
                <olv-icon olvIcon="ProfileSelect_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">ProfileSelect_b</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Stamp_b')">
                <olv-icon olvIcon="Stamp_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Stamp_b</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('StampSelect_b')">
                <olv-icon olvIcon="StampSelect_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">StampSelect_b</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('FileList_b')">
                <olv-icon olvIcon="FileList_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">FileList_b</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('FileListSelect_b')">
                <olv-icon olvIcon="FileListSelect_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">FileListSelect_b</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('DownloadDisable_b')">
                <olv-icon olvIcon="DownloadDisable_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">DownloadDisable_b</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Download_b')">
                <olv-icon olvIcon="Download_b"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">Download_b</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center bg-gray-700">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('Arrow_w')">
                <olv-icon olvIcon="Arrow_w"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-white text-md">Arrow_w</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center bg-gray-700">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Plus_w')">
                <olv-icon olvIcon="Plus_w"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-white text-md">Plus_w</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center bg-gray-700">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Search_w')">
                <olv-icon olvIcon="Search_w"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-white text-md">Search_w</div>
    </div>

    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center bg-gray-700">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center hover:bg-gray-100">
            <div class="p-2 cursor-pointer" (click)="copyCode('Prev_w')">
                <olv-icon olvIcon="Prev_w"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-white text-md">Prev_w</div>
    </div>
    <div class="grid grid-cols-4 gap-4 border border-gray-200 rounded items-center bg-gray-700">
        <div class="col-span-1 border-r border-r-gray-100 p-2 flex justify-center  hover:bg-gray-100" >
            <div class="p-2 cursor-pointer" (click)="copyCode('Next_w')">
                <olv-icon olvIcon="Next_w"></olv-icon>
            </div>
        </div>
        <div class="col-span-3 text-white text-md">Next_w</div>
    </div>
</div>

<div class='codeBtn'>
    <div class='inline-block mx-4 text-md hover:text-olive-400' (click)="showArea()" title='Copy Code'>
        <olv-icon olvIcon="CodeCopyIcon" class="align-top"></olv-icon>
        <span class='ml-1'>Show Code</span>
    </div>
    <div class='inline-block mx-4 text-md hover:text-olive-400' (click)="copyCode('Check')" title='Show Code'>
        <olv-icon olvIcon="CodeShowIcon" class="align-top"></olv-icon>
        <span class='ml-1'>Copy Code</span>
    </div>
</div>
<ng-container *ngIf="isShown">
    <ul>
        <li class='relative border-b'>
            <div>
                <pre><code [highlight]="Basic" [languages]="['html']"></code></pre>
            </div>
        </li>
    </ul>
</ng-container>

<div class="flex flex-row justify-items-center items-center mt-40 mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Image</div>
</div>

<div class="grid grid-cols-1 gap-4 border border-gray-400 rounded p-20 md:grid-cols-2 lg:grid-cols-3">
    <div class="grid grid-cols-5 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-2 border-r border-r-gray-100 p-2 flex justify-center">
            <div class="p-2 flex justify-center cursor-pointer">
                <a href="../../../../assets/icons/iconImage/icon-group.png" target="_blank">
                    <img src="../../../../assets/icons/iconImage/icon-group.png">
                </a>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">icon-group</div>

    </div>
    <div class="grid grid-cols-5 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-2 border-r border-r-gray-100 p-2 flex justify-center">
            <div class="w-120 p-2 flex justify-center cursor-pointer">
                <a href="../../../../assets/icons/iconImage/icon-profile.png" target="_blank">
                <img src="../../../../assets/icons/iconImage/icon-profile.png">
                </a>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">icon-profile</div>
    </div>

    <div class="grid grid-cols-5 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-2 border-r border-r-gray-100 p-2 flex justify-center">
            <div class="w-32 p-2 flex justify-center cursor-pointer">
                <a href="../../../../assets/icons/iconImage/icon-profile-medium.png" target="_blank">
                <img src="../../../../assets/icons/iconImage/icon-profile-medium.png">
                </a>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">icon-profile-medium</div>
    </div>
    <div class="grid grid-cols-5 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-2 border-r border-r-gray-100 p-2 flex justify-center">
            <div class="24 p-2 flex justify-center cursor-pointer">
                <a href="../../../../assets/icons/iconImage/icon-profile-small.png" target="_blank">
                <img src="../../../../assets/icons/iconImage/icon-profile-small.png">
                </a>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">icon-profile-small</div>
    </div>

    <div class="grid grid-cols-5 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-2 border-r border-r-gray-100 p-2 flex justify-center">
            <div class="w-60 p-2 flex justify-center cursor-pointer">
                <a href="../../../../assets/icons/iconImage/icon-nodata.png" target="_blank">
                <img src="../../../../assets/icons/iconImage/icon-nodata.png">
                </a>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">icon-nodata</div>
    </div>
    <div class="grid grid-cols-5 gap-4 border border-gray-200 rounded items-center">
        <div class="col-span-2 border-r border-r-gray-100 p-2 flex justify-center">
            <div class="w-120 p-2 flex justify-center cursor-pointer">
                <a href="../../../../assets/icons/iconImage/icon-progress.gif" target="_blank">
                <img src="../../../../assets/icons/iconImage/icon-progress.gif">
                </a>
            </div>
        </div>
        <div class="col-span-3 text-gray-700 text-md">icon-progress</div>
    </div>
</div>
