
.codeBtn {
    @apply border-y border-dashed w-full text-center h-40 pt-2 cursor-pointer text-gray-600 ;

}

pre.olvCode {
    @apply border-0;
}

pre code.hljs {
    @apply py-24 px-15 leading-6 text-md overflow-auto;
    font-family: unset ,inherit;
}

.mb-01{
    margin-bottom: -1px !important;
}
.olv-box {
    @apply relative
}
.olv-box-basic .olv-box-content {
    @apply py-6 pl-8 pr-14 rounded-md border border-gray-100 bg-lightgray-100
}
.olv-box-desc .olv-box-content {
    @apply py-6 pl-8 pr-14 rounded-md border border-gray-100 bg-lightgray-600
}
.olv-box-info .olv-box-content {
    @apply py-6 pl-8 pr-14 rounded-md border border-olive-200 bg-olive-100
}
.olv-box-error .olv-box-content {
    @apply py-6 pl-8 pr-14 rounded-md border bg-wrong-bg border-wrong-line
}
.olv-box-strong-basic .olv-box-content {
    @apply py-6 px-8 rounded-md border-2 bg-lightgray-100 border-olive-400 hover:bg-olive-100 border-olive-400
}
.olv-box-strong-error .olv-box-content {
    @apply py-6 px-8 rounded-md border-2 bg-lightgray-100 border-wrong-button hover:bg-wrong-bg border-wrong-button
}
.olv-box-strong-info .olv-box-content {
    @apply py-6 px-8 rounded-md border-2 bg-gnb-active border-gnb-link
}
.olv-footer a {
    @apply hover:underline
}
.olv-footer {
    @apply flex grid md:grid-cols-3 sm:grid-cols-none bg-gray-700 text-gray-500 font-light p-6
}
.olv-footer-content{
    @apply md:col-span-2 md:text-left sm:text-center text-gray-500 text-sm mx-3
}
.olv-footer-extra{
    @apply md:text-right sm:text-center text-gray-500 text-sm mx-2 mt-3
}

.custom .olv-footer {
    @apply grid-cols-none
}
.custom .olv-footer-content {
    @apply text-center
}
.custom .olv-footer-extra {
    @apply text-center  md:col-span-2
}

img.Side-Menu-Icon-Big-Component-Selected {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
img.Side-Menu-Icon-Big-Component-Selected-Copy {
    width: 36px;
    height: 36px;
    object-fit: contain;
}

img.Group-2 {
    width: 120px;
    height: 120px;
    object-fit: contain;
}
