<div class="flex flex-row justify-items-center items-center mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Font</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        기본 폰트로 OS 구분 없이 <span class="font-bold">Spoqa Han Sans Neo</span>를 사용합니다.
    </div>
</div>

<div class="bg-white border p-32 rounded rounded-md">
    <div class="flex flex-auto items-center">
        <div class="text-5xl">가나다 Aa 123</div>
        <div class="text-2xl">
            <span class="ml-37 font-light">Light</span>
            <span class="ml-20 font-normal">Regular</span>
            <span class="ml-20 font-bold">Bold</span>
        </div>
    </div>

    <div class="text-2xl">
        <span class="font-thin">Thin</span>
        <span class="ml-20 font-light">Light</span>
        <span class="ml-20 font-normal">Normal</span>
        <span class="ml-20 font-medium">Medium</span>
        <span class="ml-20 font-semibold">SemiBold</span>
        <span class="ml-20 font-bold">Bold</span>
        <span class="ml-20 font-extrabold">ExtraBold</span>
    </div>

    <div class="font-normal text-md w-[424px] mt-40">
        가나다라마바사아자차카타파하
        ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz
        1234567890‘?’“!”(%)[#]&#123;@}/&\<-+÷×=>®©$€£¥¢:;,.*
    </div>
</div>
