layout {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    min-width: 0;

    > * {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        width: 100%;
    }

    router-outlet {

        + * {
            position: relative;
            width: 100%;
        }
    }
}
