<div class="py-8 ml-8">
    <div class="mx-4 mt-2">
        <div class="flex flex-col">
            <div class="text-xl font-semibold">Style</div>
            <div>
                <div class="text-md font-normal ml-6 my-3.5 hover:font-medium"><a routerLink="/style/color">Color</a></div>
                <div class="text-md font-normal ml-6 my-3.5 hover:font-medium"><a routerLink="/style/layout">Contents Layout</a></div>
                <div class="text-md font-normal ml-6 my-3.5 hover:font-medium"><a routerLink="/style/spacing">Spacing</a></div>
                <div class="text-md font-normal ml-6 my-3.5 hover:font-medium"><a routerLink="/style/text">Text</a></div>
            </div>
        </div>
    </div>
    <div class="mx-4 mt-8">
        <div class="flex flex-col">
            <div class="text-xl font-semibold">Components</div>
            <div>
                <div class="text-md font-normal ml-6 my-3.5 hover:font-medium"><a routerLink="/component/box">Box</a></div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Button</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Card</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Checkbox</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Collapse</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Date Picker</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Dropdown</div>
                <div class="text-md font-normal ml-6 my-3.5 hover:font-medium"><a routerLink="/component/footer">Footer</a></div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">GNB</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Icon & Image</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Input Box</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Navigation</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Paging</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Popup</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Radio Button</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Tab</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Table</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Tag & Badge</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Tree</div>
                <div class="text-md font-normal ml-6 my-3.5 text-gray-400">Other</div>
            </div>
        </div>
    </div>
</div>
