<div class="text-4xl font-extrabold tracking-tight pb-16 mb-32 border-b">
    Color
</div>

<div class="flex flex-row justify-items-center items-center">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Color</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        원하는 컬러가 없는 경우, 정해진 전체 컬러 내에서 유연하게 사용 가능합니다.
    </div>
</div>

<div class="mt-24 font-semibold text-gray-600">Components</div>

<div class="flex gap-10 text-sm mt-16 font-thin leading-10 overflow-x-auto">
    <div class="flex flex-col gap-2 flex-auto ">
        <div class="bg-olive-100 px-4 border border-olive-100 text-black">#E2F6F0</div>
        <div class="bg-olive-200 px-4 border border-olive-200 ">#CCE6DF</div>
        <div class="bg-olive-300 px-4 border border-olive-300 text-white">#08B4AB</div>
        <div class="bg-olive-400 px-4 border border-olive-400 text-white">#038C65</div>
        <div class="bg-olive-500 px-4 border border-olive-500 text-white">#007151</div>
    </div>
    <div class="flex flex-col gap-2 flex-auto">
        <div class="bg-gray-100 px-4 border border-gray-100">#DDDDDD</div>
        <div class="bg-gray-200 px-4 border border-gray-200">#D6D6D6</div>
        <div class="bg-gray-300 px-4 border border-gray-300">#CCCCCC</div>
        <div class="bg-gray-400 px-4 border border-gray-400">#BBBBBB</div>
        <div class="bg-gray-500 px-4 border border-gray-500 text-white">#888888</div>
        <div class="bg-gray-600 px-4 border border-gray-600 text-white">#555555</div>
        <div class="bg-gray-700 px-4 border border-gray-700 text-white">#222222</div>
    </div>
    <div class="flex flex-col gap-2 flex-auto">
        <div class="bg-lightgray-100 px-4 border border-gray-100">#FFFFFF</div>
        <div class="bg-lightgray-200 px-4 border border-gray-100">#FBFBFB</div>
        <div class="bg-lightgray-300 px-4 border border-gray-100">#F9F9F9</div>
        <div class="bg-lightgray-400 px-4 border border-gray-100">#F6F6F6</div>
        <div class="bg-lightgray-500 px-4 border border-gray-100">#F2F2F2</div>
        <div class="bg-lightgray-600 px-4 border border-gray-100">#EEEEEE</div>
    </div>
    <div class="flex flex-col gap-2 flex-auto">
        <div class="bg-gnb-active px-4 border border-gnb-active">#FFFDED</div>
        <div class="bg-gnb-link px-4 border border-gnb-link">#FAE000</div>
        <div class="bg-wrong-bg px-4 border border-wrong-bg">#FFF4F4</div>
        <div class="bg-wrong-line px-4 border border-wrong-line">#FF838B</div>
        <div class="bg-wrong-button px-4 border border-wrong-button text-white">#FF3340</div>
        <div class="bg-gnb-bg px-4 border border-gnb-bg text-white">#2C2D36</div>
    </div>
</div>

<div class="mt-40 font-semibold text-gray-600">Set Color - Tag, Badge에서 사용</div>

<div class="flex gap-4 text-sm mt-16 leading-10 overflow-x-auto">
    <div class="flex flex-col gap-2 flex-auto">
        <div class="bg-violet-fg px-4 border border-violet-fg text-white">#9038F5</div>
        <div class="bg-violet-bg px-4 border border-violet-bg">#F9F1FF</div>
    </div>
    <div class="flex flex-col gap-2 flex-auto">
        <div class="bg-sky-fg px-4 border border-sky-fg text-white">#279FF4</div>
        <div class="bg-sky-bg px-4 border border-sky-bg">#E6F7FF</div>
    </div>
    <div class="flex flex-col gap-2 flex-auto">
        <div class="bg-pink-fg px-4 border border-pink-fg text-white">#FF5CB4</div>
        <div class="bg-pink-bg px-4 border border-pink-bg">#FFF0F6</div>
    </div>
    <div class="flex flex-col gap-2 flex-auto">
        <div class="bg-orange-fg px-4 border border-orange-fg text-white">#FA8C16</div>
        <div class="bg-orange-bg px-4 border border-orange-bg">#FFF4E8</div>
    </div>
    <div class="flex flex-col gap-2 flex-auto">
        <div class="bg-green-fg px-4 border border-green-fg">#B8D53E</div>
        <div class="bg-green-bg px-4 border border-green-bg">#FBFFEB</div>
    </div>
    <div class="flex flex-col gap-2 flex-auto">
        <div class="bg-blue-fg px-4 border border-blue-fg text-white">#1F48E7</div>
        <div class="bg-blue-bg px-4 border border-blue-bg">#E5EAFF</div>
    </div>
    <div class="flex flex-col gap-2 flex-auto">
        <div class="bg-complete-fg px-4 border border-complete-fg text-white">#08B4AB</div>
        <div class="bg-complete-bg px-4 border border-complete-bg">#DFFFFD</div>
    </div>
</div>


<div class="flex flex-row justify-items-center items-center mt-80">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Color Role</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        주요 컬러에 대한 Color Role 을 제공합니다. 원하는 컬러가 없는 경우, 정해진 전체 컬러 내에서 유연하게 사용 가능합니다.
    </div>
</div>

<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-olive-100 border-b border-t border-t-olive-200 border-b-olive-200">
                        <tr>
                            <th scope="col" class="py-3 px-4 text-md font-normal text-left">
                                Color Chip
                            </th>
                            <th scope="col" class="py-3 px-4 text-md font-normal text-left">
                                HEX
                            </th>
                            <th scope="col" class="py-3 px-4 text-md font-normal text-left">
                                RGB
                            </th>
                            <th scope="col" class="py-3 px-4 text-md font-normal text-left">
                                Roles
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white text-md" *ngFor="let role of colorRoles">
                            <td class="p-4 whitespace-nowrap">
                                <div [ngClass]="role.class" class="px-4 text-black w-[100px] h-[21px]"></div>
                            </td>
                            <td class="p-4 whitespace-nowrap">
                                {{ role.hex }}
                            </td>
                            <td class="p-4 whitespace-nowrap">
                                {{ role.rgb }}
                            </td>
                            <td class="p-4 whitespace-nowrap">
                                {{ role.roles }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-col mt-6">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-olive-100 border-b border-t border-t-olive-200 border-b-olive-200">
                        <tr>
                            <th scope="col" class="py-3 px-4 text-md font-normal text-center">
                                Background
                            </th>
                            <th scope="col" class="py-3 px-4 text-md font-normal text-center">
                                Text
                            </th>
                            <th scope="col" class="py-3 px-4 text-md font-normal text-center">
                                Line
                            </th>
                            <th scope="col" class="py-3 px-4 text-md font-normal text-center">
                                Button
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white text-sm text-black font-light">
                            <td class="p-4 whitespace-nowrap align-top">
                                <div class="flex flex-wrap justify-center items-start">
                                    <div class="flex flex-wrap  w-[176px]">
                                        <div class="bg-lightgray-100 border border-gray-100 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#FFFFFF</div>
                                        <div class="bg-gnb-active border border-gnb-active px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#FFFDED</div>
                                        <div class="bg-wrong-bg border border-wrong-bg px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#FFF4F4</div>
                                        <div class="bg-lightgray-200 border border-gray-100 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#FBFBFB</div>
                                        <div class="bg-lightgray-300 border border-lightgray-300 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#F9F9F9</div>
                                        <div class="bg-lightgray-400 border border-lightgray-400 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#F6F6F6</div>
                                        <div class="bg-lightgray-500 border border-lightgray-500 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#F2F2F2</div>
                                        <div class="bg-lightgray-600 border border-lightgray-600 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#EEEEEE</div>
                                        <div class="bg-olive-100 border border-olive-100 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#E2F6F0</div>
                                        <div class="bg-gray-100 border border-gray-100 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#CCCCCC</div>
                                        <div class="bg-gnb-bg border border-gnb-bg px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#2C2D36</div>
                                        <div class="bg-gray-700 border border-gray-700 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#222222</div>
                                        <div class="bg-olive-400 border border-olive-400 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#038C65</div>
                                    </div>
                                </div>
                            </td>
                            <td class="p-4 whitespace-nowrap align-top">
                                <div class="flex flex-wrap items-start">
                                    <div class="flex flex-wrap  w-[176px]">
                                        <div class="bg-lightgray-100 border border-gray-100 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#FFFFFF</div>
                                        <div class="bg-wrong-button border border-wrong-button px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#FF3340</div>
                                        <div class="bg-gnb-link border border-gnb-link px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#FAE000</div>
                                        <div class="bg-gray-100 border border-gray-100 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#DDDDDD</div>
                                        <div class="bg-gray-200 border border-gray-200 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#D6D6D6</div>
                                        <div class="bg-gray-300 border border-gray-300 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#CCCCCC</div>
                                        <div class="bg-gray-400 border border-gray-400 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#BBBBBB</div>
                                        <div class="bg-gray-500 border border-gray-500 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#888888</div>
                                        <div class="bg-gray-600 border border-gray-600 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#555555</div>
                                        <div class="bg-gray-700 border border-gray-700 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#222222</div>
                                        <div class="bg-olive-400 border border-olive-400 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#038C65</div>
                                        <div class="bg-complete-fg border border-complete-fg px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#08B4AB</div>
                                    </div>
                                </div>
                            </td>
                            <td class="p-4 whitespace-nowrap align-top">
                                <div class="flex flex-wrap items-start">
                                    <div class="flex flex-wrap  w-[176px]">
                                        <div class="bg-wrong-button border border-wrong-button px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#FF3340</div>
                                        <div class="bg-wrong-line border border-wrong-line px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-gray-700">#FF838B</div>
                                        <div class="bg-lightgray-600 border border-lightgray-600 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#EEEEEE</div>
                                        <div class="bg-gray-400 border border-gray-400 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#BBBBBB</div>
                                        <div class="bg-gray-100 border border-gray-100 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#DDDDDD</div>
                                        <div class="bg-gray-200 border border-gray-200 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#D6D6D6</div>
                                        <div class="bg-olive-200 border border-olive-200 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#CCE6DF</div>
                                        <div class="bg-olive-400 border border-olive-400 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#038C65</div>
                                        <div class="bg-gray-600 border border-gray-600 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#555555</div>
                                        <div class="bg-gray-700 border border-gray-700 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#222222</div>
                                        <div class="bg-complete-fg border border-complete-fg px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#08B4AB</div>
                                    </div>
                                </div>
                            </td>
                            <td class="p-4 whitespace-nowrap align-top">
                                <div class="flex flex-wrap items-start">
                                    <div class="flex flex-wrap  w-[176px]">
                                        <div class="bg-wrong-button border border-wrong-button px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#FF3340</div>
                                        <div class="bg-wrong-line border border-wrong-line px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-gray-700">#FF838B</div>
                                        <div class="bg-wrong-bold border border-wrong-bold px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#AF252E</div>
                                        <div class="bg-gray-100 border border-gray-100 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#DDDDDD</div>
                                        <div class="bg-gray-500 border border-gray-500 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#888888</div>
                                        <div class="bg-gray-700 border border-gray-700 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#222222</div>
                                        <div class="bg-olive-200 border border-olive-200 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#CCE6DF</div>
                                        <div class="bg-olive-100 border border-olive-100 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center">#E2F6F0</div>
                                        <div class="bg-olive-500 border border-olive-500 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#038C65</div>
                                        <div class="bg-olive-400 border border-olive-400 px-4 m-1 w-[80px] h-[21px] flex items-center justify-center text-white font-thin">#038C65</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-sm text-gray-600 mt-[8px]">
                    ※ 좀 더 세분화된 컬러 사용 관련으로는 각 구성요소에서 더 확인 가능합니다.
                </div>
            </div>
        </div>
    </div>
</div>

