<div class="flex flex-row justify-items-center items-center mt-80 mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Title Type</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        짧은 제목, 페이지 및 섹션 구분에 사용됩니다.
    </div>
</div>

<div class="flex flex-col mt-6">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-olive-100 border-b border-t border-t-olive-200 border-b-olive-200">
                    <tr>
                        <th scope="col" class="px-4 text-md font-bold text-left w-100">
                            Type
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Color
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Size
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Style
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Line Height
                        </th>
                        <th scope="col" class="px-4 text-md font-bold text-center w-60">
                            Letter Spacing
                        </th>
                        <th scope="col" class="text-md font-bold text-left min-w-90">
                            Usage
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="px-4 py-1 whitespace-nowrap">
                            <div class="text-4xl font-bold">페이지 제목</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-700 border border-gray-700 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#222222</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">32</div>
                        </td>
                        <td>
                            <div class="text-center">Bold</div>
                        </td>
                        <td>
                            <div class="text-center">40</div>
                        </td>
                        <td>
                            <div class="text-center">-0.5</div>
                        </td>
                        <td>
                            <div>페이지 메인 타이틀</div>
                        </td>
                    </tr>
                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-3xl text-gray-700 font-bold leading-32 tracking-tight">섹션 제목</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-700 border border-gray-700 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#222222</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">24</div>
                        </td>
                        <td>
                            <div class="text-center">Bold</div>
                        </td>
                        <td>
                            <div class="text-center">32</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>페이지 내 섹션별 타이틀</div>
                            <div>SCAN 페이지 상단 프로젝트 이름</div>
                        </td>
                    </tr>
                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-2xl text-gray-700 font-bold leading-28 tracking-tight">박스영역 제목</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-700 border border-gray-700 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#222222</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">20</div>
                        </td>
                        <td>
                            <div class="text-center">Bold</div>
                        </td>
                        <td>
                            <div class="text-center">28</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>섹션 내 박스 영역이 있는 경우 적용</div>
                            <div>(ex. My Project > Project Invite)</div>
                        </td>
                    </tr>
                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-xl font-bold leading-26 tracking-tight">프로젝트 제목(CARD)</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-700 border border-gray-700 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#222222</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">18</div>
                        </td>
                        <td>
                            <div class="text-center">Bold</div>
                        </td>
                        <td>
                            <div class="text-center">26</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>My Project 내 카드UI의 프로젝트 이름</div>
                        </td>
                    </tr>
                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-lg font-bold leading-24 tracking-tight text-gray-700">영역 제목</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-700 border border-gray-700 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#222222</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">16</div>
                        </td>
                        <td>
                            <div class="text-center">Bold</div>
                        </td>
                        <td>
                            <div class="text-center">24</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>영역 구분을 위한 타이틀</div>
                            <div>(ex. My Page > 닉네임, Github 연결 등)</div>
                        </td>
                    </tr>

                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="flex items-center">
                                <div class="bg-olive-500 border border-gray-500 w-[70px] h-[22px] flex items-center justify-center text-white text-md leading-22 tracking-tight">팝업 제목</div>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-lightgray-100 border border-gray-100 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-sm font-thin">#FFFFFF</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">14</div>
                        </td>
                        <td>
                            <div class="text-center">Bold</div>
                        </td>
                        <td>
                            <div class="text-center">22</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>(ex. Scan > 우측 카운팅 박스 타이틀)</div>
                        </td>
                    </tr>

                    <tr class="bg-white text-md text-black h-[64px] border-b">
                        <td class="p-4 whitespace-nowrap">
                            <div class="text-md text-gray-500 font-bold leading-22 tracking-tight">옵션 제목</div>
                        </td>
                        <td>
                            <div class="flex items-center justify-center text-center">
                                <div class="bg-gray-500 border border-gray-500 px-4 m-1 w-[60px] h-[21px] flex items-center justify-center text-white text-sm font-thin">#888888</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">14</div>
                        </td>
                        <td>
                            <div class="text-center">Bold</div>
                        </td>
                        <td>
                            <div class="text-center">22</div>
                        </td>
                        <td>
                            <div class="text-center">-0.2</div>
                        </td>
                        <td>
                            <div>데이터값을 강조할 경우의 영역 타이틀</div>
                            <div>(ex. Scan > 우측 카운팅 박스 타이틀)</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
