<div class="text-4xl font-extrabold tracking-tight pb-16 mb-32 border-b">
    BOX
</div>

<component-box-type></component-box-type>
<component-box-style></component-box-style>

<div class="flex flex-row justify-items-center items-center mt-80">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Box</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        component
    </div>
</div>
<div class="flex flex-col mt-6">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="bg-olive-100 border-b border-t border-t-olive-200 border-b-olive-200">
                    <tr>
                        <th scope="col" class="py-3 px-4 text-md font-normal text-center">
                            Property
                        </th>
                        <th scope="col" class="py-3 px-4 text-md font-normal text-center">
                            Description
                        </th>
                        <th scope="col" class="py-3 px-4 text-md font-normal text-center">
                            Type
                        </th>
                        <th scope="col" class="py-3 px-4 text-md font-normal text-center">
                            Default
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-white text-md text-black font-light">
                        <td class="p-4 whitespace-nowrap align-top">
                            olvBoxType
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            Box type
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            'basic' | 'desc' | 'info' | 'error' | 'strong-basic' | 'strong-error' | 'strong-info'
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            -
                        </td>
                    </tr>
                    <tr class="bg-white text-md text-black font-light">
                        <td class="p-4 whitespace-nowrap align-top">
                            olvMessage
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            Description or Title
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            -
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            string
                        </td>
                    </tr>
                    <tr class="bg-white text-md text-black font-light">
                        <td class="p-4 whitespace-nowrap align-top">
                            olvMessageTmpl
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            Customized description or title
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            -
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            template
                        </td>
                    </tr>
                    <tr class="bg-white text-md text-black font-light">
                        <td class="p-4 whitespace-nowrap align-top">
                            olvContentMessage
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            Additional content of Box
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            -
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            template
                        </td>
                    </tr>
                    <tr class="bg-white text-md text-black font-light">
                        <td class="p-4 whitespace-nowrap align-top">
                            olvIcon
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            icon
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            -
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            -
                        </td>
                    </tr>
                    <tr class="bg-white text-md text-black font-light">
                        <td class="p-4 whitespace-nowrap align-top">
                            olvCloseable
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            icon
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            true | false
                        </td>
                        <td class="p-4 whitespace-nowrap align-top">
                            -
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
