<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">
    <!-- Header -->
    <div class="relative flex flex-0 items-center w-full h-[72px] px-[36px] z-49 bg-card bg-gnb-bg">
        <ng-container *ngIf="!isScreenSmall">
            <!-- Logo -->
            <div class="flex flex-col flex-0 pt-4 pb-5 bg-card">
                <div class="flex-1 min-w-0 mt-0.5">
                    <img
                        src="assets/images/logo/oliveui-logo.png"
                        srcset="assets/images/logo/oliveui-logo-w@2x.png 2x,
                                    assets/images/logo/oliveui-logo-w@3x.png 3x"
                        alt="Logo image">

                </div>
            </div>
        </ng-container>
        <!-- Navigation toggle button -->
        <ng-container *ngIf="isScreenSmall">
            <!-- Actions -->
            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <button
                    mat-icon-button
                    (click)="matDrawer.toggle()">
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                </button>
            </div>
        </ng-container>
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">

        </div>
    </div>

    <!-- Content -->

    <div class="flex flex-col flex-auto w-full bg-lightgray-400">
        <mat-drawer-container class="flex flex-col flex-auto shadow bg-card">

            <!-- Drawer -->
            <mat-drawer
                class="w-72"
                [autoFocus]="false"
                [mode]="'side'"
                [opened]="true"
                #matDrawer>
                <olive-ui-menu></olive-ui-menu>
            </mat-drawer>

            <!-- Drawer content -->
            <mat-drawer-content class="flex flex-col overflow-hidden">

                <!-- Main -->
                <div class="flex-auto">

                    <!-- CONTENT GOES HERE -->
                    <div class="min-h-400 max-w-320 border-l border-gray-100 px-[40px] py-[48px]">
                        <router-outlet *ngIf="true"></router-outlet>
                    </div>

                </div>

            </mat-drawer-content>
        </mat-drawer-container>
    </div>
    <olv-footer
        [olvContentMessage]='MessageTemplate'
        [olvExtraMessage]='olvExtraMessage'>
    </olv-footer>
        <ng-template #MessageTemplate>
            Copyright ⓒ <a href="https://www.kakaocorp.com/" target="_blank"> Kakao Corp.</a> All rights reserved.<br/>
            카카오 기술 플랫폼에서 제공하는 오픈소스 검증 서비스<br/>
        </ng-template>
        <ng-template #olvExtraMessage>
            <a href="https://www.kakao.com/policy/terms?lang=ko" class="text-gray-200 mx-3">이용약관</a>
            <a href="https://www.kakao.com/policy/privacy?lang=ko" class="text-gray-200 mx-3">개인정보처리방침</a>
        </ng-template>
</div>

