<div class="text-4xl font-extrabold tracking-tight pb-16 mb-32 border-b">
    Content Layout
</div>

<div class="flex flex-row justify-items-center items-center mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Basic Layout</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        GNB, 사이드메뉴, 컨텐츠, 풋터로 구성되며, 대부분의 페이지는 레이아웃 구조를 가집니다.
    </div>
</div>

<div class="flex flex-auto overflow-x-auto">
    <div class="bg-white border p-32 rounded rounded-md">
        <img class="min-w-[896px]" width="100%" src="assets/images/style/layout/img-layout-basic.svg" />
    </div>
</div>

<div class="flex flex-row justify-items-center items-center mt-80 mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Contents Layout</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        일부 페이지에서는 필요에 의해 기본 레이아웃과는 다른 구조를 사용할 수 있습니다.
    </div>
</div>

<div class="flex flex-auto overflow-x-auto">
    <div class="bg-white border p-32 rounded rounded-md">
        <div class="mb-16 text-gray-600">Ex 1. 기본 페이지 : My Project, Scan, …</div>
        <img class="min-w-[896px]" width="100%" src="assets/images/style/layout/img-layout-cont-1.svg" />

        <div class="mb-16 mt-40 text-gray-600">Ex 2. 예외 페이지 : Main, Simple Check, …</div>
        <img class="min-w-[896px]" width="100%" src="assets/images/style/layout/img-layout-cont-2.svg" />
    </div>

</div>


<div class="flex flex-row justify-items-center items-center mt-80 mb-20">
    <div class="text-3xl font-bold tracking-tight leading-tight whitespace-nowrap">Contents Paragraph</div>
    <div class="flex items-baseline ml-16 text-gray-600 text-md flex-wrap">
        큰 영영들의 사이 간격에 대해 안내합니다.
    </div>
</div>

<div class="flex flex-auto overflow-x-auto">
    <div class="bg-white border p-32 rounded rounded-md">
        <img class="min-w-[896px]" width="100%" src="../../../../assets/images/style/layout/img-layout-paragraph.svg" />
    </div>
</div>

<div class="text-sm text-gray-600 mt-[8px]">
    ※ 모바일의 컨텐츠 좌우 여백의 경우 16px로 적용합니다.
</div>
